# .NET Core
*.swp
*.*~
project.lock.json
.project
.classpath
.factorypath
.settings/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Dependencies
*.nupkg
*.snupkg
*.dcre
*.dll
*.exe
*.pdb
*.userprefs
*.usertasks

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ide
*.cache

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Project Specific
*.log
*.tmp
*.bak
.remosk/
config.json
